<main role="main" class="container">
  <div class="jumbotron">
    <h1>Contact List</h1>
    <p class="lead">Gerencie seus contatos de qualquer lugar!</p>
    <%= link_to  'Crie sua conta', '#', class: 'btn btn-lg btn-primary' %>
  </div>
</main>